body{
    background-color: rgb(175, 175, 175);
    display: block; margin-left: auto; margin-right: auto;
}


img{
    display: block; margin-left: auto; margin-right: auto; 
    margin-bottom: 10px; margin-top: 130px;
    width: 220px; padding-right: 15px;
}
#input{
    display: grid;
    grid-template-columns: 41% 18% 41%;
}
input{
    width: 200px; height: 60px;
    border-radius: 20px;
    border: 5.5px solid rgb(0, 0, 0);
    font-size: 25px; text-align: center;
}
button{
    background-color: orange;
    width: 70px; height: 60px;
    border-radius: 20px;
    border: 5.5px  solid rgb(0, 0, 0);
    font-size: 30px; font-weight: bolder;
}